/* Header */

header {
    grid-area: header;
    background: #24292f;
    width: 100%;
    position: sticky;
}

header ul {
    list-style: none;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    border-bottom: black solid 2px;
}

.left-header {
    align-items: left;
    justify-content: left;
    margin-left: 0;
}

.right-header {
    text-align: right;
    justify-content: right;
    margin-left: 10px;
    margin-right: 10px;
}