header {
    background: rgba(136, 134, 17, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: top;
    display: flex;
}

nav ul {
    list-style: none;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: row;
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #ca8910;
}