header {
    background: rgba(187, 185, 101, 0.644);
    width: 100%;
    position: sticky;
}

* {
    border-radius: 15px;
}

.container header ul {
    list-style: none;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.left-header {
    align-items: left;
    justify-content: left;
    margin-left: 0;
}

.right-header {
    text-align: right;
    justify-content: right;
    margin-left: auto;
    margin-right: 10px;
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.links a:hover {
    background: #ca8910;
    border-radius: 15px;
}

.links a:link {
    color: #000;
    text-decoration: none;
}

.links a:visited {
    color: #000;
    text-decoration: none;
}

.links a:active {
    color: #000;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-rows: 10% 5fr 1fr;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "header header" "nav main" "footer footer";
    grid-gap: .75em;
}

header {
    grid-area: header;
    background-color: rgb(171, 179, 104);
}

nav {
    grid-area: nav;
    background-color: tomato;
    justify-content: left;
    text-align: left;
    text-decoration: none;
}

nav div li {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

main {
    grid-area: main;
    background-color: lightblue;
}

footer {
    grid-area: footer;
    background-color: lightgreen;
    display: grid;
    grid-row: 1fr 1fr;
    grid-template-areas: "div dov";
}

.foot {
    grid-area: dov;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.underfoot {
    grid-area: div;
    align-items: center;
    justify-content: center;
    text-align: center;
}