header {
    background: rgba(136, 134, 17, 0.7);
    width: 100%;
    position: block;
    z-index: 99;
    padding: 10px 1;
}

nav {
    float: top;
    margin-top: 0;
}

nav ul {
    list-style: none;
    overflow: hidden;
    align-items: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.left-header {
    text: left;
}

.center-header {
    align-items: center;
    justify-content: center;
}

.right-header {
    text-align: right;
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #ca8910;
}